/****************************/
/*          HEADER          */
/****************************/

header {
    min-height: 100vh;
    color: #2A2A2A;
    background-color: #A3C77F;
}

.zone_titre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 45vh;
    margin-bottom: 16px;
}

.zone-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 48px;
}

.bouton_decouvrir {
    background-color: #1E152A;
    color: #F5F5DC;
    display: block;
    width: fit-content;  
    margin: 10vh auto 0 auto;
    margin-top: 20vh;
    font-weight: bold;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid #2A2A2A;
    padding: 16px 48px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.06),
                0px 5px 4px rgba(3, 7, 18, 0.05),
                0px 12px 9px rgba(3, 7, 18, 0.04),
                0px 20px 15px rgba(3, 7, 18, 0.02),
                0px 32px 24px rgba(3, 7, 18, 0.01);
    transition: 0.2s;
}

.bouton_decouvrir:hover {
    background-color: #F5F5DC;
    color: #1E152A;     
    transform: scale(1.02);
    cursor: pointer;
}

/****************************/
/*       Grille SAE         */
/****************************/

main {
    min-height: 100vh;
}

h2 {
    padding-top: 8vh;
    padding-bottom: 2vh;
    text-align: center;
    color: #2A2A2A;
}

.grille_sae {
    margin: 0 auto;
    padding-bottom: 8vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    grid-auto-rows: 50px;
    width: 65vw;
}

.case {
    background-image: url("../img/paper_texture_blue.png");
    background-size: auto;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    transition: transform 0.2s;
}

.case:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
}

/* Classes pour les formats de cases */
.compacte {
    grid-row: span 3;
    grid-column: span 1;
}

.portrait {
    grid-row: span 6;
    grid-column: span 1;
}

.bandeau {
    grid-row: span 3;
    grid-column: span 2;
}