/****************************/
/*          HEADER          */
/****************************/

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: auto;
    min-height: 100vh;
    max-height: 100vh;
    color: #2A2A2A;
    /*background-color: #2A2A2A;*/
    background-color: #A3C77F;
    /*background-color: #F9F5ED;*/
    position: relative;
}

header>a {
    color: #2A2A2A;
}

h1 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 48px;
}

.bouton_decouvrir {
    background-color: #F9F5ED;
    border-radius: 8px;
    padding: 8px 32px;
    position: absolute;
    bottom: 12vh;
    /* Technique pour centrer le bouton en position absolute */
    left: 50%;
    transform: translateX(-50%);
}

.bouton_decouvrir:hover {
    box-shadow:
        inset 0px 4px 6px 3px rgba(0, 0, 0, 0.1);
}

/****************************/
/*        Zone SAE          */
/****************************/

main {
    background-color: #F5F5DC;
    /*background-image: linear-gradient(#A3C77F,#17638C);*/
    color: #F9F5ED;
    min-height: 100vh;
    max-height: fit-content;
}

.titre_zone_sae {
    padding-top: 8vh;
    padding-bottom: 2vh;
    text-align: center;
    color: #2A2A2A;
}

/*
.zone_sae {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    gap: 45px;
    width: 50%;
    flex-wrap: wrap;
}

.img_dossier {
    width: 110px;
}

.img_dossier:hover {
    filter: drop-shadow(3px 5px 11px #f9f5ed);
}

.dossier {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/

.grille_sae {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    grid-auto-rows: 50px;
    width: 65vw;
}

.case {
    background-image: url("../img/paper_texture_bleu166088.png");
    background-size:auto;
    padding: 8px;
    border-radius: 16px;
    display: flex;
}

.compacte {
    grid-row: span 3;
    grid-column: span 1;
}

.portrait {
    grid-row: span 6;
    grid-column: span 1;
}

.bandeau {
    grid-row: span 3;
    grid-column: span 2;
}

/****************************/
/*          FOOTER          */
/****************************/

footer {
    padding: 16px 100px 0px 100px;
    background-color: #010B13;
    color: #F9F5ED;
}

.nom_footer {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

.img_fleche_haut {
    width: 60px;
    margin: auto;
    margin-bottom: 32px;
}