body {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: relative;
    color: #F5F5DC;
    min-height: 20vh;
    max-height: 40vh;
    background-image: url("../img/paper_texture_blue.png");
    background-size: cover;
    margin: 4vw 5vw 0vw 5vw;
    border-radius: 16px;
}

.bouton-retour, .bouton-retour-bas {
    background-color: #1E152A;
    color: #F5F5DC;
    font-weight: bold;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.06),
        0px 5px 4px rgba(3, 7, 18, 0.05),
        0px 12px 9px rgba(3, 7, 18, 0.04),
        0px 20px 15px rgba(3, 7, 18, 0.02),
        0px 32px 24px rgba(3, 7, 18, 0.01);
    transition: 0.2s;
}

.bouton-retour {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px 0;
}

.bouton-retour-bas {
    border-radius: 16px; 
    margin: 0 auto 6vh auto; 
}

.bouton-retour:hover,
.bouton-retour-bas:hover {
    background-color:#72b8de;
    color: #1E152A;
}

h2 {
    font-weight: 200;
}

.titre_sae {
    margin-right: auto;
    margin-left: 15vw;
    padding: 32px 64px;
}

.zone_competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zone_competences>h3 {
    margin: 16px 16px 8px 0px;
}

.competence {
    display: flex;
}

.tag_competence {
    border-left: 2px solid #F5F5DC;
    padding-left: 8px;
    margin-right: 16px;
}

/****************************/
/*     Zone principale      */
/****************************/

main {
    background-color: #fff;
    border: 1px solid #ddcbcb;
    border-radius: 16px;
    margin: 8vh 15vw 2vh 15vw;
    padding: 32px 64px;
    flex: 1;
}

table, th, td {
    border: 1px solid #1E152A;
    border-collapse: collapse;
    padding: 8px;
    color: #1E152A;
}

/****************************/
/*         Accordéon        */
/****************************/

.bouton {
    color: #F5F5DC;
    background-color: #1E152A;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 24px;
    margin-bottom: 32px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.06),
        0px 5px 4px rgba(3, 7, 18, 0.05),
        0px 12px 9px rgba(3, 7, 18, 0.04),
        0px 20px 15px rgba(3, 7, 18, 0.02),
        0px 32px 24px rgba(3, 7, 18, 0.01);
    transition: 0.2s;
}

.bouton>a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bouton:hover {
    background-color: #166088;
}

.accordeon {
    display: flex;
    gap: 16px;
    background-color: #17638C;
    color: #F5F5DC;
    border-radius: 5px;
    padding: 18px;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-family: inherit; /* pour garder la police DM Sans */
    transition: 0.2s;
}

.accordeon::before {
    content: "\276F"; /* Code Unicode pour le caractère ">" */
    margin-left: 8px;
    transition: transform 0.3s ease; 
}

.accordeon.active::before {
    transform: rotate(90deg);
}

.accordeon.active,
.accordeon:hover {
    background-color: #318bbb;
}

.contenu {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 0 0 5px 5px;
    margin-bottom: 16px;
}