html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

h1 {
    margin: 0;
}


.flex {
    display: flex;
    align-items: center;
    gap: 32px;
}


a {
    text-decoration: none;
    color: #F9F5ED;
}

h2 {
    margin-top: 0px;
}

img {
    width: 100%;
}

/****************************/
/*          FOOTER          */
/****************************/

footer {
    padding: 16px 100px 0px 100px;
    background-color: #010B13;
    color: #F9F5ED;
}

.nom_footer {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

footer>a {
    display: block;
    width : fit-content;
    margin: 0 auto;
}

.back_to_top {
    margin-bottom: 32px;
}
