html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #2A2A2A;
    color: #F9F5ED;
}

.flex {
    display: flex;
    align-items: center;
    gap: 32px;
}

header {
    margin: auto;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    color: #F9F5ED;
    /*background-color: #2A2A2A;*/
    background-color: #154b88;
    /*background-color: #F9F5ED;*/
}

a {
    text-decoration: none;
    color: #F9F5ED;
}

.titre {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 48px;
}

.fleche_bas {
    margin-top: 100px;
}

.zone_sae {
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

h2 {
    margin-top: 0px;
}

footer {
    padding: 100px 100px 0px 100px;
    background-color: #154b88;
}

.nom_footer {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

.img_fleche_haut {
    width: 60px;
    margin: auto;
}