html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

h1 {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #F9F5ED;
}

h2 {
    margin-top: 0px;
}

img {
    width: 100%;
}
